name: Next.Js CI

on:
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Debug folders
        run: 
          pwd
          ls 
          ls next-js
          
      - name: Install dependencies
        run: 
          cd next-js
          npm install
        
      - name: Build app
        run: 
          cd next-js
          npm run build
